body {
  margin: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
}

.color-box {
  height: 20px;
  width: 20px;
  position: fixed;
  border: 1px solid #fff;
  transition: all 0.5s ease;
}

.color-box:hover {
  border-radius: 50%;
}
